@use "../scss/utils";

.window {
  @extend .align-content-center;

  canvas {
    position: relative;
  }

  overflow: scroll;
  display: inline-flex;
  cursor: grab;

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
}