<div class="about">
  <div class="container">
    <div class="align-content-center mb-5">
      <img src="assets/about-logo.svg" width="250" height="250">
    </div>
    <p>
      Desize is a simple application used to shrink the size of your jpeg files. 
      It’s great for web developers looking to improve website performance by optimizing their images, or for photographers looking to better manage the size of their image archive.
    </p>
  
    <p>
      All the compression is done locally with JavaScript, so no user data is sent over the internet for better data usage and security.
      Desize is designed with productive workflow in mind, so you can customize the compression for different images in your library at the same time.
      You can either apply a quality setting to all images at once to get results quickly, or you can go into each image individually and customize the compression to your liking with the Before and After feature.
    </p>
  </div>
</div>