<div class="image-comparer-container">
  <div [hidden]="orig != undefined">
    <input id="file-selector" [formControl]="imgPathField" type="file" (change)="imgFileSelectHandler()">
  </div>
  <div [hidden]="orig == undefined" class="container">
    <!-- View Dropdown Select-->
    <div class="view-selection dropdown">
      <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
        {{ 
          {
            'compare': 'Compare View',
            'y': 'Y View',
            'vertical': 'Vertical View'
          }[viewMode]
        }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" (click)="handleViewChange('compare')">Compare View</a></li>
        <li><a class="dropdown-item" (click)="handleViewChange('y')">Y View</a></li>
        <li><a class="dropdown-item" (click)="handleViewChange('vertical')">Vertical View</a></li>
      </ul>
    </div>


    <!-- Y View Components -->
    <div class="row gx-3 justify-content-md-center" [hidden]="getCurrentViewModel() !== 'y'">
      <div class="col-md">
        <div class="align-content-center">
          <canvas id="y-canvas"></canvas>
        </div>
        <div *ngIf="getCPFileSize() > -1" class="text-center" >
          {{ toSizeString(getCPFileSize(), 'KB') }}
        </div>
      </div>
    </div>
      
    <!-- Compare View Components -->
    <div class="row gx-3 justify-content-md-center" [hidden]="getCurrentViewModel() !== 'compare'">
      <div class="col-md-6">
        <div *ngIf="getOGFileSize() > -1" class="text-right">
          {{ toSizeString(getOGFileSize(), 'KB') }}
        </div>
        <div class="align-content-center">
          <canvas id="before"></canvas>
        </div>
      </div>
      <div class="col-md-6">
        <div *ngIf="getCPFileSize() > -1" >
          {{ toSizeString(getCPFileSize(), 'KB') }}
        </div>
        <div class="align-content-center">
          <canvas id="after"></canvas>
        </div>
      </div>
      <div class="vertical-split-line"></div>
    </div>

  </div>
  <canvas id="input-canvas" hidden></canvas>
</div>

<div class="quality-selector">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <input [formControl]="quality" (change)="handleQualityChange()" type="range" class="form-range" min="0" max="100" id="quality">
      </div>
      <div class="col-md-1">
        <div class="numeric-display">
          {{ quality.value }} %
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-right mr-5">
  Output:
  <input type="text" class="mr-1" [formControl]="outputNameField" [disabled]="!selectedImg()">
  .jpeg
  <button type="button" class="btn btn-dark ml-3" (click)="handleDownload()" [disabled]="!selectedImg()">Download</button>
</div>