
<div class="edit-container">
  <!-- View Dropdown Select-->
  <div class="view-selection dropdown">
    <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
      {{ 
        {
          'compare': 'Compare View',
          'y': 'Y View'
        }[viewMode]
      }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" (click)="handleViewChange('compare')">Compare View</a></li>
      <li><a class="dropdown-item" (click)="handleViewChange('y')">Y View</a></li>
    </ul>
  </div>

  <div class="image-comparer-container">
    <!-- View Container Wrapper -->
    <div class="container">
      <!-- Y View Components -->
      <div class="container" [hidden]="getCurrentViewModel() !== 'y'">
        <div class="row gx-3 justify-content-md-center">
          <div class="col-md">
            <div class="align-content-center">
              <canvas id="y-canvas"></canvas>
            </div>
          </div>
        </div>
      </div> <!-- Y View Components -->

      <!-- Compare View Components -->
      <div class="container" [hidden]="getCurrentViewModel() !== 'compare'">
        <div class="row gx-5 justify-content-md-center">
          <!-- INPUT -->
          <div class="col-md-6 col-lg-6">
            <div class="align-content-center">
              <canvas id="before"></canvas>
            </div>
          </div>
          <!-- OUTPUT -->
          <div class="col-md-6 col-lg-6">
            <div class="align-content-center">
              <canvas id="after"></canvas>
            </div>
          </div>
        </div>
        <div class="vertical-split-line hidden-md"></div>

      </div> 
      <!-- Compare View Components -->
    
    </div> <!-- View Container Wrapper -->


    <canvas id="input-canvas" hidden></canvas>
  </div>

  <div (click)="handleChangeImg(true)" [hidden]="imgService.isFirstImg(imgId)" class="pos-fixed left center next-btn ml-2">
    <i class="fas fa-arrow-alt-circle-left"></i>
  </div>

  <div (click)="handleChangeImg()" [hidden]="imgService.isLastImg(imgId)" class="pos-fixed right center next-btn mr-2">
    <i class="fas fa-arrow-alt-circle-right"></i>
  </div>
</div>

<!-- CONTROL BAR -->
<div class="control-bar">
  <!-- FILE SIZE DISPLAY -->
  <div class="control-bar-row align-content-center">
    <span
      class="pop-up"
      [class.red]="getFileDifference() > 0"
      [class.green]="getFileDifference() < 0"
    >
      {{ getCPFileSize() | bytes:'KB' }} / {{ getOGFileSize() | bytes:'KB' }} ({{ getFileDifference() | percentWithSign }})
    </span>
  </div>
  <!-- JPEG QUALITY CONTROL -->
  <div class="control-bar-row quality-selector input-group">
    <input [(ngModel)]="quality" (change)="handleQualityChange()" type="range" class="form-range" min="0" max="100" id="quality">
    <input [(ngModel)]="quality" (change)="handleQualityChange()" type="number" class="form-control" min="0" max="100" id="quality">
    <span class="input-group-text">%</span>
  </div>
</div>


<div class="pos-fixed right bottom">
  <div class="download-control" (click)="handleDownload()">
    <i class="fas fa-download"></i>
  </div>
</div>