@import "../colours.scss";

.image-comparer-container {
  position: relative;

  background-color: $t-l-grey;
  min-height: 80vh;
  width: 100vw;
  // will align content in the center
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
}

.view-selection {
  position: absolute;
  top: 0;
  left: 0;

  .dropdown-toggle {
    font-size: 1.3rem;
  }
}

.vertical-split-line {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  padding: 0;
  background-color: black;
}

.align-content-center {
  // will align content in the center
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  margin: auto;
}

.quality-selector {
  padding: 20px 0 20px 0;
}

.numeric-display {
  text-align: center;
  border: 1px solid $t-grey;
}