@use "../colours";
@import "../../assets/stylesheets/bootstrap/functions",
  "../../assets/stylesheets/bootstrap/variables",
  "../../assets/stylesheets/bootstrap/mixins/breakpoints";

.bg-lg {
  background-color: colours.$light-grey;
}

.image-comparer-container {
  position: relative;
  min-height: 80vh;
  // will align content in the center
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.view-selection {
  background-color: colours.$grey;
  .dropdown-toggle {
    font-size: 1.1rem;
  }
}

.vertical-split-line {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 3px;
  padding: 0;
  background-color: colours.$grey;
}

.align-content-center {
  // will align content in the center
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  margin: auto;
}

.quality-selector {
  padding: 20px 0 20px 0;
  text-align: center;
  & .form-range {
    width: 500px;
    margin: 0 10px 0 10px;
  }
  @include media-breakpoint-down(md) {
    & .form-range {
      width: 200px;
    }
  }
  .numeric-display {
    padding: 8px 5px 8px 5px;
    text-align: center;
    border: 1px solid colours.$grey;
  }
}

.file-size-display {
  font-size: 1.1rem;
  padding: 5px 0 10px 0;
  justify-content: center;
  text-align: center;
}

.hidden-md {
  display: none;
}
@include media-breakpoint-up(md) {
  .hidden-md {
    display: block;
  }
}
