.pos-fixed {
  position: fixed;
  &.left {
    left: 0;
  }
  &.center {
    top: 50%;
  }
  &.bottom {
    bottom: 0;
  }
  &.right {
    right: 0;
  }
}

.align-content-center {
  // will align content in the center
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-content-center-inline {
  // will align content in the center
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.disable-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
