@use "../scss/utils";
@use "../colours";
@import "../../assets/stylesheets/bootstrap/functions",
  "../../assets/stylesheets/bootstrap/variables",
  "../../assets/stylesheets/bootstrap/mixins/breakpoints";

.gallery-container {
  padding: 10px 20px 10px 20px;
}

.img-container {
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

$highlight: #D7E7FF;

.img-frame {
  @extend .disable-highlight;
  display: inline-block;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #C4C4C4;

  @include media-breakpoint-up(sm) {
    display: inline-block;
    margin: 10px 10px 0px 10px;
    width: 375px;
    height: 300px;
  }

  @include media-breakpoint-down(sm) {
    display: block;
    margin: 10px auto 0px auto;
    width: 325px;
    height: 275px;
  }

  &.selected {
    border: 1px solid #5296FC;

    .attribute-label {
      background-color: $highlight;
    }
  }

  .attribute-label {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: 6px 10px 6px 10px;
    font-size: 14px;
    text-align: end;
  }

  .mobile-edit {
    @include media-breakpoint-up(sm) {
      display: none;
    }
    font-size: 20px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    right: 0;
    top: 0;
    margin: 5px 5px 0 0;
    padding: 2px 5px 5px 10px;
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: right;

  background-color: colours.$light-grey;

  padding: 10px 50px 10px 50px;

  .item {
    margin: 0 10px 0 10px;
  }
}