<div class="gallery-container">
  <div class="row">
    <div class="col-12 col-md-3 mb-2">
      <div class="form-file form-file-sm">
        <input id="fileselector" (input)="handleFileSelect()" type="file" class="form-file-input" multiple #fileselector>
        <label class="form-file-label" for="customFileLg">
          <span class="form-file-text">Choose file...</span>
          <span class="form-file-button">Browse</span>
        </label>
      </div>
    </div>

    <div class="col-8 col-md-2 mb-2">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="inputGroup-sizing-sm">Quality:</span>
        <input [(ngModel)]="quality" type="number" class="form-control" aria-label="quality" min="0" max="100">
        <button type="button" (click)="handleApplyQuality()" class="btn btn-outline-secondary">Apply</button>
      </div>
    </div>

    <div class="col-4 col-md-3 mb-2">
      <div class="input-group input-group-sm">
        <button type="button" (click)="handleSelectAll($event)" class="btn btn-outline-secondary">Select All</button>
      </div>
    </div>
  </div>



  <!-- FIXME: Vulnerable to XSS, if user selects a malicious file containing a script -->
  <div class="img-container" (click)="handleDeselectClick()">
    <div
      *ngFor="let item of imgService.getImgs() | keyvalue"
      class="img-frame"
      [attr.data-id]="item.key"
      [class.selected]="selected[item.key]"
      [style.background-image]="'url(' + item.value.original.url + ')'"
      (click)="handleImgFrameClick($event, item.key)"
      (dblclick)="handleImgFrameDoubleClick($event, item.key)"
    >
      <div class="attribute-label">
        <span class="mr-3"><b>Quality</b>: {{ item.value.quality/100 | percent }}</span>
        <span><b>Output Size</b>: {{ item.value.compressed.f.size | bytes }}</span>
      </div>
      <span class="mobile-edit" (touchstart)="handleImgFrameDoubleClick($event, item.key)"><i class="fas fa-edit" width="45px" height="45px"></i></span>
    </div>
  </div>
</div>

<div class="bottom-bar">
  <div class="row justify-content-md-end">
    <div class="col-6 col-md-3 col-lg-2 mt-auto mb-auto">{{ selectedCount }} selected</div>
    <div class="col-6 col-md-3 col-lg-2 mt-auto mb-auto">
      <b>Size:</b> {{ fileOutputSize | bytes }}
      <span
        [class.red]="fileReductionPercentage > 0"
        [class.green]="fileReductionPercentage < 0"
      >
        ({{ fileReductionPercentage | percentWithSign }})
      </span>
    </div>
    <div class="col-12 col-md-3 col-lg-2">
      <button (click)="handleDownload(selectedImgs)" type="button" class="btn btn-primary">
        Download
      </button>
    </div>
    <!-- DOWNLOAD ALL -->
  </div>
</div>