<div class="gallery-container" (click)="clickTest()">
  <input id="fileselector" (input)="handleFileSelect()" type="file" multiple #fileselector>

  <span>Quality: </span>
  <input [(ngModel)]="quality" type="number" min="0" max="100" id="quality">
  <button type="button" (click)="handleApplyQuality()" class="btn btn-dark ml-3">Apply</button>

  <!-- FIXME: Vulnerable to XSS, if user selects a malicious file containing a script -->
  <div class="img-container">
    <div
      *ngFor="let item of imgService.getImgs() | keyvalue"
      class="img-frame"
      [attr.data-id]="item.key"
      [class.selected]="selected[item.key]"
      [style.background-image]="'url(' + item.value.original.url + ')'"
      (click)="handleImgFrameClick(item.key)"
    >
      <div class="attribute-label">
        <span class="mr-3"><b>Quality</b>: {{ item.value.quality/100 | percent }}</span>
        <span><b>Output Size</b>: {{ item.value.compressed.f.size | bytes:'MB' }}</span>
      </div>
    </div>
  </div>
</div>

<div class="bottom-bar">
  <span class="item"> {{ selectedImgs.length }} selected</span>
  <!-- DOWNLOAD SELECTED -->
  <span class="item" *ngIf="selectedImgs.length > 0"><b>Original Size:</b> {{ aggrigateFileSize(selectedImgs, 'original') | bytes: 'MB'}}</span>
  <span class="item" *ngIf="selectedImgs.length > 0"><b>Compressed Size:</b> {{ aggrigateFileSize(selectedImgs, 'compressed') | bytes: 'MB' }}</span>
  <span class="item" *ngIf="selectedImgs.length > 0"><button (click)="handleDownload(selectedImgs)" type="button" class="btn btn-primary">Download ({{selectedImgs.length}})</button></span>
  <!-- DOWNLOAD ALL -->
  <span class="item" *ngIf="selectedImgs.length <= 0"><b>Original Size:</b> {{ aggrigateFileSize(allImgs, 'original') | bytes: 'MB'}}</span>
  <span class="item" *ngIf="selectedImgs.length <= 0"><b>Compressed Size:</b> {{ aggrigateFileSize(allImgs, 'compressed') | bytes: 'MB' }}</span>
  <span class="item" *ngIf="selectedImgs.length <= 0"><button (click)="handleDownload(allImgs)" [disabled]="imgService.idCounter < 1" type="button" class="btn btn-primary">Download All</button></span>
</div>