/* You can add global styles to this file, and also import other style files */
@import "./assets/stylesheets/bootstrap/bootstrap.scss";
@import "./assets/fonts/fonts.css";

body {
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  color: #505050;
}

.selection {
  background: rgba(46, 115, 252, 0.11);
  border-radius: 0.1em;
  border: 2px solid rgba(98, 155, 255, 0.81);
}

b {
  font-weight: bold;
}

strong {
  font-weight: bolder;
}
