/* You can add global styles to this file, and also import other style files */
@import "./assets/stylesheets/bootstrap/bootstrap.scss";
@import "./assets/fonts/fonts.css";
@import "./assets/stylesheets/bootstrap/functions",
  "./assets/stylesheets/bootstrap/variables",
  "./assets/stylesheets/bootstrap/mixins/breakpoints";

html {
  font-size: 18px;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

body {
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  color: #505050;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.selection {
  background: rgba(46, 115, 252, 0.11);
  border-radius: 0.1em;
  border: 2px solid rgba(98, 155, 255, 0.81);
}

b {
  font-weight: bold;
}

strong {
  font-weight: bolder;
}
